<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>对比 Form 与 AJAX</title>
</head>
<body>
  <p> form 与 AJAX 有一些相似之处</p>
  <ul>
    <li>form 的 method 指定请求方法</li>
    <li>form 的 url 指定请求地址</li>
    <li>form 的 enctype 指定 POST 请求时的请求体编码方式，默认为 application/x-www-form-urlencoded 格式，与 get 请求的参数形式格式相同，只是将数据写在了报文主体中</li>
  </ul>
  <form action="/test" method="GET">
    <h3>这个表单通过 get 提交</h3>
    <label>
      姓名：<input type="text" name="name" id="" placeholder="请输入姓名">
    </label>
    <label>
      年龄：<input type="number" name="age" id="" placeholder="请输入年龄">
    </label>
    <button type="submit">提交</button>
  </form>
  <form action="/test" method="POST" enctype="application/x-www-form-urlencoded">
    <h3>这个表单通过 post 提交</h3>
    <label>
      姓名：<input type="text" name="name" id="" placeholder="请输入姓名">
    </label>
    <label>
      年龄：<input type="number" name="age" id="" placeholder="请输入年龄">
    </label>
    <button type="submit">提交</button>
  </form>
</body>
</html>